<p id="notice">Users:<%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email :</b>
  <%= @user.email %>
</p>


<p>
  <b>role :</b>
  <%= @user.roles%>
</p>




<% if can? :edit, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%end%>

<%= link_to 'Back', users_path %>
