<h1>Dog Grooming Locations</h1>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>





<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
   <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>


	

	<% if can? :show, @location %>
    <td><%= link_to 'Show', location %></td>
    <% end %>


    <% if can? :edit, @location %>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <% end %>


     <% if can? :destroy, @location %>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
     </tr>
     <% end %>
     </table>

<br/>
<%= link_to 'New Location', new_location_path %>
