<!DOCTYPE html>
<html>
<head>




<title>Doggy Grooming Professional Services</title>


<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css","jquery-ui-timepicker-addon", "application" %>



<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>


<%= csrf_meta_tag %>


</head>

<body class="<%= controller.controller_name %>">
<div id="banner">
<%= image_tag ("logo.png") %>
<%= @page_title || "Doggy Grooming Professional Services" %>


</div>
<div id="columns">
<div id="side">

<% if @cart %>
<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
<%= render @cart %>
<% end %>
<% end %>



<ul>
	
 <li><%=link_to 'Contact Us', my_page_path('contact') %></li>

</br>

<li><%= link_to 'About Us', my_page_path('about') %></li>
	
</br>	

 <li> <%=link_to 'Locations', locations_path %></li>
</br>

 <li><%=link_to 'Home', store_path %><li>
	
</br>

<% if can? :show, @order %>
 <li><%= link_to 'Orders', orders_path %></li>
<% end %>

</br>

<% if can? :index, @product %>
<li><%= link_to 'Products', products_path %></li>
<% end %>

</br>

<% if can? :show, @user %>
 <li><%= link_to 'Users', users_path %></li>
<% end %>

</br>
</ul>








<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=371054002912427";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://severe-moon-5298.herokuapp.com" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>



<li class="tweeter_block">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:3000/admin" data-text="Doggy Grooming">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li></ul>
</div>





<div class="notice">
  <% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you?

     <%= button_to "Sign out", destroy_user_session_path, :method =>:delete %>
  <% else %>
    <%= button_to "Sign up", new_user_registration_path, :method =>:get %>
    <%= button_to "sign in", new_user_session_path %>
  <% end %>
</div>


 

<div id="main">
<%= yield %>
</div>
</div>

</body>
</html>
